html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: white;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
	vertical-align: middle;
	border: 0;

}

header {
	min-height: 100%;
	background: url('https://images.unsplash.com/photo-1465443313160-ebeac85f54d6?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=') no-repeat bottom center;
	background-size: cover;
	background-position: center;
}

.intro-mask {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(black, transparent) left repeat;
  	background: linear-gradient(black, transparent) left repeat; 
}

.title {
	text-align: center;
	margin-top: 30%;
	margin-bottom: auto;
	color: white;
}

.title h1 {
	font-weight: 700;
	font-size: 3em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.hr-style {
	width: 50%;
	margin: 20px auto;
	border: 0; 
  	height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
}

.grid-box a img, .grid-box img {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;	
}

.grid-box {
	line-height: 1.5;
	display: block;
	padding: 3px;
	margin-bottom: 20px;
	border: 1px solid #ddddff;
	border-radius: 2px;
	transition: border .2s ease-in-out;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
}

.jumbotron {
	background-color: #eeeeff;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 3px;
	color: black;
	background-color: #eeeeff;
}

@media only screen and (max-width: 768px) {
	.title {
		margin-top: 50%;
	}
}

.footer {
	display: block;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #555566;
}

.footer p {
	margin-top: 30px;
	color: white;
	text-align: center;
}